:root {
    --background-color1: #5dbb70;
    --background-color2: #14be7d;
    --font-color: #252525;
    --border-color: #383838;
    --error-msg-color: #e40000;
}

* {box-sizing: border-box;}

body {
    background: linear-gradient(90deg, var(--background-color1) 0%, var(--background-color2) 100%);
    color: var(--font-color);
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    font-size: 80px;
}

.row {
    display: flex;
    flex-direction: row;
}

.border-row {
    border-bottom: 3px solid var(--border-color);
    border-top: 3px solid var(--border-color);
}

.border-field {
    border-left: 3px solid var(--border-color);
    border-right: 3px solid var(--border-color);
}

.field {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.result-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 150px;
}

.errors {
    color: var(--error-msg-color);
    height: 30px;

}