/*VAR*/

:root {
  --mian-bg:          hsl(228, 18%, 11%);
  --section-light-bg: hsl(0, 0%, 90%);
  --font-light-color: hsl(0, 0%, 90%);
  --font-dark-color:  hsl(0, 0%, 12%);
  --menu-bg-color:    hsla(228, 18%, 11%, 50%);
  --technologies-bg:  hsl(229, 22%, 20%);
  --menu-bottom-color:hsl(229, 19%, 17%);
}

/***********/


/*GLOBAL*/

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
  font-family:      "Poppins", sans-serif;
  font-weight:      400;
  font-style:       normal;
  color:            var(--font-light-color);
  background-color: var(--mian-bg);
  font-size:        1rem;
}

a {
  text-decoration:  none;
  color:            var(--font-light-color);
}

section {
  width: 100%;
  padding: 60px 0;
}

h1 { font-size: 2.5rem; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/*******MENU*******/

header {
  background-color:     var(--menu-bg-color);
  width:                100%;
  height:               3.75rem;
  display:              flex;
  flex-direction:       row;
  justify-content:      space-between;
  align-items:          center;
  padding:              0 1.875rem;
  border-bottom:        2px solid var(--menu-bottom-color);
  position:             fixed;
  top:                  0px;
  backdrop-filter:      blur(3px);
}

.logo {
  text-transform:   uppercase;
  font-weight:      600;
  font-size:        1.125rem;
}

.pc-menu  {
  display:        flex;
  flex-direction: row;
  height:         100%;
}

.pc-menu a {
  height:       100%;
  display:      flex;
  align-items:  center;
  padding:      0 10px;
  font-weight:  500;
  transition:   color .3s;
}

.pc-menu a:hover { 
  border-bottom:  1px solid var(--font-light-color);
  color:          hsl(0, 0%, 61%);
  transition:     color .3s;
}


/********INTRODUCTION***********/

.welcome-wrapper {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-title {
  margin: 50px 0;
}

.introduction { 
  line-height: 30px;
  font-size: 20px;
}


/*@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}*/