/*VAR*/

:root {
  --mian-bg:          hsl(228, 18%, 11%);
  --section-light-bg: hsl(0, 0%, 90%);
  --font-light-color: hsl(0, 0%, 90%);
  --font-dark-color:  hsl(0, 0%, 12%);
  --menu-bg-color:    hsla(228, 18%, 11%, 50%);
  --technologies-bg:  hsl(229, 22%, 20%);
  --menu-bottom-color:hsl(229, 19%, 17%);
}


/*GLOBAL*/

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
  font-family:      "Poppins", sans-serif;
  font-weight:      400;
  font-style:       normal;
  color:            var(--font-light-color);
  background-color: var(--mian-bg);
  font-size:        1rem;
}

a {
  text-decoration:  none;
  color:            var(--font-light-color);
}

section {
  width:    100%;
  padding:  3.75rem 0;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 1.875rem; }
h3 { font-size: 1.25rem; }

.container {
  max-width:      75rem;
  margin-left:    auto;
  margin-right:   auto;
}

.row {
  display:    flex;
  flex-wrap:  wrap;
}

.section-title { 
  margin-bottom:  5rem;
  text-align:     center;
}

.bg-light { 
  background-color: var(--section-light-bg);
  color:            var(--font-dark-color);
}


/*******MENU*******/

header {
  z-index:              1;
  background-color:     var(--menu-bg-color);
  width:                100%;
  height:               3.75rem;
  display:              flex;
  flex-direction:       row;
  justify-content:      space-between;
  align-items:          center;
  padding:              0 1.875rem;
  border-bottom:        2px solid var(--menu-bottom-color);
  position:             fixed;
  top:                  0px;
  backdrop-filter:      blur(3px);
}

.logo {
  text-transform:   uppercase;
  font-weight:      600;
  font-size:        1.125rem;
}

.main-logo { height: 500px; }

.pc-menu  {
  display:        flex;
  flex-direction: row;
  height:         100%;
}

.pc-menu a {
  height:       100%;
  display:      flex;
  align-items:  center;
  padding:      0 0.625rem;
  font-weight:  500;
  transition:   color .3s;
}

.pc-menu a:hover { 
  border-bottom:  1px solid var(--font-light-color);
  color:          hsl(0, 0%, 61%);
  transition:     color .3s;
}


/********INTRODUCTION***********/

#main-page { margin-top: 60px; }

.welcome-wrapper {
  width:            37.5rem;
  height:           31.25rem;
  display:          flex;
  flex-direction:   column;
  justify-content:  center;
}

.page-title { margin: 3.125rem 0; }

.introduction { 
  line-height:  1.875rem;
  font-size:    1.25rem;
}

.long-introduction {
  text-align:   center;
  font-style:   italic;
  line-height:  30px;
}


/***********PROJECTS**********/

.webpage-index { 
  width:          25rem;
  border-radius:  10px;
}

.projects-wrapper {
  justify-content:  space-around;
  text-align:       center;
}

.website {
  margin-top:       1.25rem;
  text-transform:   uppercase;
}

.arrow { 
  height:       2.5rem;
  position:     absolute;
  top:          200px;
  cursor:       pointer;
  transition:   height .2s;
}

.arrow:hover {
  height:       2.8125rem;
  transition:   height .2s;
}

.arrow-left { left: 50px; }
.arrow-right { right: 50px; }

.project-index { height: 12.5rem; }

.js-projects-wrapper { 
  width:            60%;
  display:          flex;
  justify-content:  center;
  position:         relative;
  box-shadow:       0 0 50px -18px hsla(228, 18%, 11%, 0.50);
  padding:          3.125rem;
  border-radius:    0.625rem;
}

.js { justify-content: center; }

.actual-jsproject {
  display:          flex;
  flex-direction:   column;
}

.actual-jsproject a { text-align: center; }

.project-title, .project-description { text-align: center; }

.project-title { 
  font-weight:  500; 
  margin:       2.5rem 0;
  color:        var(--font-dark-color);
}

.project-description { line-height: 23px; }


/*********TECHNOLOGY************/

.tech-section {
  background-image: linear-gradient(#171923, #363c57, #171923);
}

.technology-index { height: 70px; }

.technology {
  align-items:    center;
  flex-direction: column;
}

.technologies-wrapper {
  width:            100%;
  display:          flex;
  flex-direction:   row;
  flex-wrap:        wrap;
  justify-content:  space-evenly;
}

.prog-wrapper {
  display:            flex;
  flex-direction:     column;
  justify-content:    center;
  align-items:        center;
  text-transform:     uppercase;
  font-weight:        500;
  padding:            1.25rem 3.125rem;
  border-radius:      15px 50px;
  background-color:   var(--section-light-bg);
  color:              var(--font-dark-color)
}

.technology-name { padding-top: 0.625rem; }


/***********CONTACTS***********/

.contact-minus { margin-top: -8.75rem; }
#contacts { height: 250px; }

.contact-wrapper {
  width:            100%;
  display:          flex;
  flex-direction:   row;
  justify-content:  space-around;
  flex-wrap:        wrap;
}

.contact-icon { height: 70px; }

.contact {
  display:            flex;
  flex-direction:     column;
  align-items:        center;
  justify-content:    center;
  width:              250px;
  color:              var(--font-dark-color);
  box-shadow:         5px -5px 18px 0 hsla(228, 18%, 11%, 0.20);
  padding:            1.875rem;
  border-radius:      10px;
  background-color:   var(--section-light-bg);
  transition:         box-shadow .2s;
}

.contact-name {
  text-transform: uppercase;
  font-weight:    600;
  margin:         2.5rem 0 0.625rem 0;
}


/***********FOOTER************/

footer {
  height:           100px;
  display:          flex;
  justify-content:  center;
  align-items:      center;
}

.footer-content { font-size: 0.875rem; }

@media (max-width: 1024px) {
  .main-page { justify-content: center; }
  .main-logo { display: none !important; }
  .container { max-width: 94%; }
  .contact-wrapper { gap: 20px; }
}

@media (max-width: 768px) {
  .projects-wrapper { gap: 20px; }
  .js-projects-wrapper { width: 80%; }
  .technology-img { width: 50%; }
}

@media (max-width: 425px) {
  .welcome-wrapper { text-align: center; }
  .js-projects-wrapper { width: 100%; }
  .technologies-wrapper { gap: 20px; }
  .technology-img { width: 80%; }
  .webpage-index { width: 94%; }
  .section-title { line-height: 40px; }
}