/*VAR*/

:root {
  --mian-bg:          hsl(230, 21%, 11%);
  --tech-light-bg:      hsl(230, 225%, 20%);  
  --section-light-bg: hsl(0, 0%, 90%);
  --font-light-color: hsl(0, 0%, 90%);
  --font-dark-color:  hsl(0, 0%, 12%);
  --menu-bg-color:    hsl(183, 100%, 13%);
}

/***********/


* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
  font-family:      "Poppins", sans-serif;
  font-weight:      400;
  font-style:       normal;
  color:            var(--font-light-color);
  background-color: var(--mian-bg);
}

a {
  text-decoration:  none;
  color:            var(--font-light-color);
}

h1 {font-size: 1.5rem;}
h2 {font-size: 1.375rem;}
h3 {font-size: 1.25rem;}


/*HEADER*/

header {
  height:           60px;
  width:            100vw;
  position:         fixed;
  top:              0;
  display:          flex;
  flex-direction:   row;
  flex-wrap:        nowrap;
  justify-content:  space-between;
  padding:          0rem 1.875rem;
  border-bottom:    2px solid hsl(229, 21%, 16%);
  background-color: hsla(230, 21%, 11%, 0.438);
  backdrop-filter:  blur(3px);
}

.logo {
  font-family:      "Press Start 2P", system-ui;
  font-weight:      400;
  font-style:       normal;
  text-transform:   uppercase;
  font-size:        1.0625rem;
  align-items:      center;
}

.pc-menu, .logo {
  display:          flex;
  justify-content:  center;
  align-items:      center;
}

.pc-menu a {
  display:      flex;
  align-items:  center;
  height:       100%;
  padding:      0 0.625rem;
}

.pc-menu a:hover { border-bottom: 2px solid var(--section-light-bg); }

/********/


/*INTRODUCTION*/

.logo-wrapper img { width: 70%; }

.introduction-wrapper {
  height:           100vh;
  width:            100vw;
  display:          flex;
  flex-direction:   row;
  flex-wrap:        nowrap;
}

.logo-wrapper {
  width:            40%;
  display:          flex;
  justify-content:  flex-end;
  align-items:      center;
}

.introduction-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.main-title { 
  font-size: 45px;
  margin-bottom: 40px;
}

.introduction { 
  font-size: 20px;
  text-align: center;
  margin: 15px 0;
  width: 60%;
  line-height: 25px;
}

/**************/